#define SVN_REVISION				$WCREV$
#define SVN_TODAY					$WCNOWUTC=%y%j$
#define SVN_HOUR_MIN				$WCNOW=%H%M$

#define SVN_MIXIED_MODIFIED_STR		"$WCMIXED?Mixed:Notmixed$ / $WCMODS?Modified:Notmodified$"
#define SVN_URL_STR					"$WCURL$"

